body {
  height: 100vh;
  background-color: black;
  display: flex;
  align-items: center;
  margin: 0;

}

* {
  box-sizing: border-box;
}

.container {
  background-color: gray;
  height: 70vh;
  width: 100%;
  display: flex;
  justify-content: start;
}

.left {
  width: 35%;
  background-image: url(halie-west-25xggax4bSA-unsplash.jpg);
  background-size: cover;
  background-position: 30% center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.title-background {
  height: 9rem;
  background-color: rgba(0, 0, 0, 0.47);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 12rem;
}

.left>p {
  color: rgb(208, 208, 208);
  font-size: 0.85rem;
  font-family: sans-serif;
}

.left h1 {
  margin: 0;
  padding: 0;
  font-size: inherit;
  font-weight: normal;
  line-height: normal;
  color: inherit;
  font-family: "Orbitron";
  color: rgb(225, 225, 225);
  text-align: center;
  font-size: 3rem;
  font-weight: 400;
}

.right {
  background-color: rgb(250, 250, 250);
  height: 100%;
  width: 65%;
  display: flex;
  flex-direction: column;
}

.right>div {
  padding-left: 2rem;
}

.right p {
  padding-bottom: 2rem;
}

.right>div {
  /* Makes elements grow evenly */
  flex: 1;
  display: flex;
}

.r-top {
  font-family: sans-serif;
  font-size: 1.3rem;
  font-weight: 590;
  align-items: end;
  color: rgba(0, 0, 0, 0.900);
}

form {
  margin-top: 1rem;
  min-width: 35rem;
  height: fit-content;
}

h1 {
  margin: 0;
  padding: 0;
  font-size: inherit;
  font-weight: normal;
  line-height: normal;
  color: inherit;
  font-family: sans-serif;
  font-size: 1.3rem;
  font-weight: 590;
  margin-bottom: 1.3rem;
  color: rgba(0, 0, 0, 0.900);
}

.r-center div {
  font-family: sans-serif;
  font-weight: 600;
  font-size: 0.7rem;
  letter-spacing: 0.1rem;
  color: rgba(0, 0, 0, 0.682);
}

form label {
  display: block;
}

form>section>div {
  display: flex;
  justify-content: space-between;
}

form input {
  width: 14rem;
  height: 1.8rem;
  border: 1px solid rgb(213, 213, 213);
  border-radius: 5px;
}

section div {
  margin-bottom: 0.6rem;
}

input:invalid {
  border: 1px solid rgb(222, 0, 0);
  border-radius: 3px;
}

input:focus {
  border: none;
  padding: 0;
  margin: 0;
  font: inherit;
  background: none;
  color: inherit;
  outline: none;
  box-shadow: none;
  appearance: none;

  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  border: 1px solid rgb(45, 45, 221);
  border-radius: 3px;
}

.r-center {
  background-color: white;
  flex: 0;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.241);
  max-height: fit-content;
  padding-bottom: 1rem;
}

.r-bottom {
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: start;
}

button {
  margin-top: 2rem;
  font-size: 1.03rem;
  border: 0;
  background-color: rgb(89, 109, 72);
  border-radius: 8px;
  color: rgb(247, 247, 247);
  padding: 0.8rem 3rem;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.r-bottom p {
  font-family: sans-serif;
  color: black;
  padding-top: 0.5rem;
}

.r-bottom strong {
  color: rgb(89, 109, 72);
}